<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDw4z2B69q8XdW3clYEaiAKSYHthIY4Kb4</string>
	<key>GCM_SENDER_ID</key>
	<string>523211182868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.idApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>idapp-34577</string>
	<key>STORAGE_BUCKET</key>
	<string>idapp-34577.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523211182868:ios:e085a576a40cc3e5d26801</string>
</dict>
</plist>